logs/
target/
.vscode
target/
dbt_packages/
.idea
.user.yml
/profiles.yml
package-lock.yml
.python-version
venv/
env/
.venv/
drafts/
docs/utils/.DS_Store
.DS_Store
prod_artifacts/
manifest.json
credentials.yml